<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="AptechWinforms.Properties.Settings.OnlineShopConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=OnlineShop;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="AptechWinforms.Properties.Settings.OnlineShopConnectionString1"
      connectionString="Data Source=localhost;Initial Catalog=OnlineShop;Persist Security Info=True;User ID=dev;Password=123456789"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>