################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AspNetCore.Core/bin/Debug/netstandard2.0
/AspNetCore.Core/obj
/AspNetCore.Data/bin/Debug/netstandard2.0
/AspNetCore.Data/obj
/AspNetCore.Framework/bin/Debug/netcoreapp2.1
/AspNetCore.Framework/obj
/AspNetCore.Services/obj
/AspNetCore.Services/bin/Debug/netstandard2.0
/AspNetCore.Web/Areas/EBM/obj
/AspNetCore.Web/Areas/SachLapTrinh/obj
/AspNetCore.Web/bin/Debug/netcoreapp2.1
/AspNetCore.Web/obj
/SmartEducation.Core/obj
/SmartEducation.Core
/.vs/AspNetCore.Solutions
/AspNetCore.Web/Modules/AspNetCore.Modules.Ames/bin/Debug/netcoreapp2.1
/AspNetCore.Web/Modules/AspNetCore.Modules.Aptech/obj
/AspNetCore.Web/Modules/AspNetCore.Modules.CMS/bin/Debug/netcoreapp2.1
/AspNetCore.Web/Modules/AspNetCore.Modules.CMS/obj/Debug/netcoreapp2.1
/AspNetCore.Web/Modules/AspNetCore.Modules.CMS/obj
/AspNetCore.Web/Modules/AspNetCore.Modules.Aptech/bin/Debug/netcoreapp2.1
/AspNetCore.Web/Modules/AspNetCore.Modules.Ames/obj
/AspNetCore.Web/Modules/AspNetCore.Modules.Facebook/obj
/AspNetCore.Web/Modules/AspNetCore.Modules.IMM/bin/Debug/netcoreapp2.1
/AspNetCore.Web/Modules/AspNetCore.Modules.IMM/obj/Debug/netcoreapp2.1
/AspNetCore.Web/Modules/AspNetCore.Modules.IMM/obj
/AspNetCore.Web/Modules/AspNetCore.Modules.iOffice/bin/Debug/netcoreapp2.1
/AspNetCore.Web/Modules/AspNetCore.Modules.iOffice/obj
/AspNetCore.Web/Modules/AspNetCore.Modules.Mobile/bin/Debug/netcoreapp2.1
/AspNetCore.Web/Modules/AspNetCore.Modules.Mobile/obj
/AspNetCore.Web/Modules/AspNetCore.Modules.NopCommerce/bin/Debug/netcoreapp2.1
/AspNetCore.Web/Modules/AspNetCore.Modules.NopCommerce/obj
/AspNetCore.Web/Modules/AspNetCore.Modules.Reports/obj
/AspNetCore.Web/Modules/AspNetCore.Modules.Facebook/bin/Debug/netcoreapp2.1
/AspNetCore.Web/Modules/AspNetCore.Modules.Reports/bin/Debug/netcoreapp2.1
/AspNetCore.Web/Modules/AspNetCore.Modules.EBM.DHXD/bin/Debug/netcoreapp2.1
/AspNetCore.Web/Modules/AspNetCore.Modules.EBM.DHXD/obj
AspNetCore.Web/Modules/AspNetCore.Modules.SGK/obj/
AspNetCore.Web/Modules/AspNetCore.Modules.SGK/bin/Debug/
